:root {
  --color-slate-50: 247 248 249;
  --color-slate-100: 240 241 243;
  --color-slate-200: 216 220 226;
  --color-slate-300: 193 199 209;
  --color-slate-400: 147 158 174;
  --color-slate-500: 100 116 139;
  --color-slate-600: 90 104 125;
  --color-slate-700: 60 70 83;
  --color-slate-800: 45 52 63;
  --color-slate-900: 30 35 42;
  --color-slate-950: 2 6 23;
  --color-slate: var(--color-slate-500);

  --color-gray-50: 248 248 249;
  --color-gray-100: 240 241 242;
  --color-gray-200: 218 220 223;
  --color-gray-300: 196 199 204;
  --color-gray-400: 151 156 166;
  --color-gray-500: 107 114 128;
  --color-gray-600: 96 103 115;
  --color-gray-700: 64 68 77;
  --color-gray-800: 48 51 58;
  --color-gray-900: 32 34 38;
  --color-gray-950: 3 7 18;
  --color-gray: var(--color-gray-500);

  --color-zinc-50: 248 248 248;
  --color-zinc-100: 241 241 242;
  --color-zinc-200: 220 220 222;
  --color-zinc-300: 198 198 202;
  --color-zinc-400: 156 156 162;
  --color-zinc-500: 113 113 122;
  --color-zinc-600: 102 102 110;
  --color-zinc-700: 68 68 73;
  --color-zinc-800: 51 51 55;
  --color-zinc-900: 34 34 37;
  --color-zinc-950: 9 9 11;
  --color-zinc: var(--color-zinc-500);

  --color-neutral-50: 248 248 248;
  --color-neutral-100: 241 241 241;
  --color-neutral-200: 220 220 220;
  --color-neutral-300: 199 199 199;
  --color-neutral-400: 157 157 157;
  --color-neutral-500: 115 115 115;
  --color-neutral-600: 104 104 104;
  --color-neutral-700: 69 69 69;
  --color-neutral-800: 52 52 52;
  --color-neutral-900: 35 35 35;
  --color-neutral-950: 10 10 10;
  --color-neutral: var(--color-neutral-500);

  --color-stone-50: 248 248 248;
  --color-stone-100: 242 241 240;
  --color-stone-200: 221 220 218;
  --color-stone-300: 201 198 196;
  --color-stone-400: 161 156 152;
  --color-stone-500: 120 113 108;
  --color-stone-600: 108 102 97;
  --color-stone-700: 72 68 65;
  --color-stone-800: 54 51 49;
  --color-stone-900: 36 34 32;
  --color-stone-950: 12 10 9;
  --color-stone: var(--color-stone-500);

  --color-red-50: 254 246 246;
  --color-red-100: 253 236 236;
  --color-red-200: 251 208 208;
  --color-red-300: 249 180 180;
  --color-red-400: 244 124 124;
  --color-red-500: 239 68 68;
  --color-red-600: 215 61 61;
  --color-red-700: 143 41 41;
  --color-red-800: 108 31 31;
  --color-red-900: 72 20 20;
  --color-red-950: 69 10 10;
  --color-red: var(--color-red-500);

  --color-orange-50: 255 248 243;
  --color-orange-100: 254 241 232;
  --color-orange-200: 254 220 197;
  --color-orange-300: 253 199 162;
  --color-orange-400: 251 157 92;
  --color-orange-500: 249 115 22;
  --color-orange-600: 224 104 20;
  --color-orange-700: 149 69 13;
  --color-orange-800: 112 52 10;
  --color-orange-900: 75 35 7;
  --color-orange-950: 67 20 7;
  --color-orange: var(--color-orange-500);

  --color-amber-50: 255 250 243;
  --color-amber-100: 254 245 231;
  --color-amber-200: 253 231 194;
  --color-amber-300: 251 216 157;
  --color-amber-400: 248 187 84;
  --color-amber-500: 245 158 11;
  --color-amber-600: 221 142 10;
  --color-amber-700: 147 95 7;
  --color-amber-800: 110 71 5;
  --color-amber-900: 74 47 3;
  --color-amber-950: 69 26 3;
  --color-amber: var(--color-amber-500);

  --color-yellow-50: 254 251 243;
  --color-yellow-100: 253 247 230;
  --color-yellow-200: 250 236 193;
  --color-yellow-300: 247 225 156;
  --color-yellow-400: 240 202 82;
  --color-yellow-500: 234 179 8;
  --color-yellow-600: 211 161 7;
  --color-yellow-700: 140 107 5;
  --color-yellow-800: 105 81 4;
  --color-yellow-900: 70 54 2;
  --color-yellow-950: 66 32 6;
  --color-yellow: var(--color-yellow-500);

  --color-lime-50: 249 252 243;
  --color-lime-100: 243 250 232;
  --color-lime-200: 224 242 197;
  --color-lime-300: 206 235 162;
  --color-lime-400: 169 219 92;
  --color-lime-500: 132 204 22;
  --color-lime-600: 119 184 20;
  --color-lime-700: 79 122 13;
  --color-lime-800: 59 92 10;
  --color-lime-900: 40 61 7;
  --color-lime-950: 26 46 5;
  --color-lime: var(--color-lime-500);

  --color-green-50: 244 252 247;
  --color-green-100: 233 249 239;
  --color-green-200: 200 241 215;
  --color-green-300: 167 232 191;
  --color-green-400: 100 214 142;
  --color-green-500: 34 197 94;
  --color-green-600: 31 177 85;
  --color-green-700: 20 118 56;
  --color-green-800: 15 89 42;
  --color-green-900: 10 59 28;
  --color-green-950: 5 46 22;
  --color-green: var(--color-green-500);

  --color-emerald-50: 243 252 249;
  --color-emerald-100: 231 248 242;
  --color-emerald-200: 195 238 224;
  --color-emerald-300: 159 227 205;
  --color-emerald-400: 88 206 167;
  --color-emerald-500: 16 185 129;
  --color-emerald-600: 14 167 116;
  --color-emerald-700: 10 111 77;
  --color-emerald-800: 7 83 58;
  --color-emerald-900: 5 56 39;
  --color-emerald-950: 2 44 34;
  --color-emerald: var(--color-emerald-500);

  --color-teal-50: 243 251 251;
  --color-teal-100: 232 248 246;
  --color-teal-200: 196 237 233;
  --color-teal-300: 161 227 219;
  --color-teal-400: 91 205 193;
  --color-teal-500: 20 184 166;
  --color-teal-600: 18 166 149;
  --color-teal-700: 12 110 100;
  --color-teal-800: 9 83 75;
  --color-teal-900: 6 55 50;
  --color-teal-950: 4 47 46;
  --color-teal: var(--color-teal-500);

  --color-cyan-50: 243 251 253;
  --color-cyan-100: 230 248 251;
  --color-cyan-200: 193 237 244;
  --color-cyan-300: 155 226 238;
  --color-cyan-400: 81 204 225;
  --color-cyan-500: 6 182 212;
  --color-cyan-600: 5 164 191;
  --color-cyan-700: 4 109 127;
  --color-cyan-800: 3 82 95;
  --color-cyan-900: 2 55 64;
  --color-cyan-950: 8 51 68;
  --color-cyan: var(--color-cyan-500);

  --color-sky-50: 243 251 254;
  --color-sky-100: 231 246 253;
  --color-sky-200: 195 233 250;
  --color-sky-300: 159 219 246;
  --color-sky-400: 86 192 240;
  --color-sky-500: 14 165 233;
  --color-sky-600: 13 149 210;
  --color-sky-700: 8 99 140;
  --color-sky-800: 6 74 105;
  --color-sky-900: 4 50 70;
  --color-sky-950: 8 47 73;
  --color-sky: var(--color-sky-500);

  --color-blue-50: 245 249 255;
  --color-blue-100: 235 243 254;
  --color-blue-200: 206 224 253;
  --color-blue-300: 177 205 251;
  --color-blue-400: 118 168 249;
  --color-blue-500: 59 130 246;
  --color-blue-600: 53 117 221;
  --color-blue-700: 35 78 148;
  --color-blue-800: 27 59 111;
  --color-blue-900: 18 39 74;
  --color-blue-950: 23 37 84;
  --color-blue: var(--color-blue-500);

  --color-indigo-50: 247 247 254;
  --color-indigo-100: 239 240 254;
  --color-indigo-200: 216 217 252;
  --color-indigo-300: 193 194 249;
  --color-indigo-400: 146 148 245;
  --color-indigo-500: 99 102 241;
  --color-indigo-600: 89 92 217;
  --color-indigo-700: 59 61 145;
  --color-indigo-800: 45 46 108;
  --color-indigo-900: 30 31 72;
  --color-indigo-950: 30 27 75;
  --color-indigo: var(--color-indigo-500);

  --color-violet-50: 249 247 255;
  --color-violet-100: 243 239 254;
  --color-violet-200: 226 214 253;
  --color-violet-300: 209 190 251;
  --color-violet-400: 174 141 249;
  --color-violet-500: 139 92 246;
  --color-violet-600: 125 83 221;
  --color-violet-700: 83 55 148;
  --color-violet-800: 63 41 111;
  --color-violet-900: 42 28 74;
  --color-violet-950: 46 16 101;
  --color-violet: var(--color-violet-500);

  --color-purple-50: 251 247 255;
  --color-purple-100: 246 238 254;
  --color-purple-200: 233 213 253;
  --color-purple-300: 220 187 252;
  --color-purple-400: 194 136 249;
  --color-purple-500: 168 85 247;
  --color-purple-600: 151 77 222;
  --color-purple-700: 101 51 148;
  --color-purple-800: 76 38 111;
  --color-purple-900: 50 26 74;
  --color-purple-950: 59 7 100;
  --color-purple: var(--color-purple-500);

  --color-fuchsia-50: 253 246 254;
  --color-fuchsia-100: 251 237 253;
  --color-fuchsia-200: 246 209 251;
  --color-fuchsia-300: 240 181 249;
  --color-fuchsia-400: 228 126 244;
  --color-fuchsia-500: 217 70 239;
  --color-fuchsia-600: 195 63 215;
  --color-fuchsia-700: 130 42 143;
  --color-fuchsia-800: 98 32 108;
  --color-fuchsia-900: 65 21 72;
  --color-fuchsia-950: 74 4 78;
  --color-fuchsia: var(--color-fuchsia-500);

  --color-pink-50: 254 246 250;
  --color-pink-100: 253 237 245;
  --color-pink-200: 250 209 230;
  --color-pink-300: 247 182 214;
  --color-pink-400: 242 127 184;
  --color-pink-500: 236 72 153;
  --color-pink-600: 212 65 138;
  --color-pink-700: 142 43 92;
  --color-pink-800: 106 32 69;
  --color-pink-900: 71 22 46;
  --color-pink-950: 80 7 36;
  --color-pink: var(--color-pink-500);

  --color-rose-50: 254 245 247;
  --color-rose-100: 254 236 239;
  --color-rose-200: 252 207 215;
  --color-rose-300: 251 178 191;
  --color-rose-400: 247 121 142;
  --color-rose-500: 244 63 94;
  --color-rose-600: 220 57 85;
  --color-rose-700: 146 38 56;
  --color-rose-800: 110 28 42;
  --color-rose-900: 73 19 28;
  --color-rose-950: 76 5 25;
  --color-rose: var(--color-rose-500);
}
