
.link-field {
  .link-field__options {
    margin-bottom: 2rem;

    & > .row__fields {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .link-field__type-option,
  .link-field__new-tab-option {
    align-self: center;
  }

  .link-field__type-option > div > ul,
  .link-field__new-tab-option > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

  }
}
