/* hide minimize sidebar icon */
#nav-toggler {
  display: none;
}


.nav {
  /* order nav groups */
  border-color: rgb(from currentColor r g b / 10%);

  .nav__wrap {
    @apply -mt-10;
  }

  .nav-group.resume {
    order: 0;
  }

  .nav-group.blog {
    order: 1
  }

  .nav-group.general {
    order: 5
  }

  .nav-group.settings {
    order: 90
  }

  .nav-group {
    @apply mb-10;
    order: 90;

    .nav-group__label {
      @apply block text-primary-500 bg-transparent font-mono font-extrabold text-xl uppercase mb-1;
    }

    .nav__link {
      @apply p-0 mb-1 no-underline;
      padding-block: 0;
      text-decoration: none !important;
    }
  }

  /* move logout icon to the end */

  .nav__controls {
    order: 99;
    margin-top: auto;
  }
}


/* disable nav group collapsible*/
.nav-group__toggle {
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.nav-group__indicator {
  display: none;
}

.nav-group__content {
  @apply font-mono;
}
