/* disable pointer events to disable collapsible */
/* re-enable pointer events to allow dragging */
.customers .collapsible__toggle-wrap {
  & > .collapsible__toggle {
    @apply pointer-events-none;
  }

  & > .collapsible__drag {
    @apply pointer-events-auto;
  }

  .collapsible__actions-wrap {
    @apply mr-0 ml-2;
  }
}

/* disable background transition on array field row headers */
.customers .collapsible--hovered > .collapsible__toggle-wrap > .collapsible__toggle {
  background: rgba(0, 0, 0, 0);
}

/* hide array list header and collapse controls */
.customers .array-field__header,
.customers .collapsible__toggle-wrap .collapsible__indicator {
  display: none;
}

.customers .array-field__draggable-rows {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.customers.array-field {
  @apply gap-8;

  & .collapsible__content {
    @apply relative p-0;
  }
}

.customers .customers__row {
  & .row__fields {
    @apply gap-6;
  }

  & .render-fields {
    flex-wrap: nowrap;
  }

  & .group-field__header {
    margin: 0;
  }
}

/* resize add button to full width */
.customers > .array-field__add-row {
  width: 100%;
  height: 4rem;
  display: block;
  border: 1px solid var(--theme-elevation-200);
}
