.projects {
  position: relative;
  z-index: 1;
}

.projects .projects__row.row > .render-fields.row__fields {
  display: grid;
  grid-template-areas:
    "headline image"
    "subline image"
    "richtext image";
  grid-auto-columns: 8fr 4fr;

  @media (max-width: 768px) {
    grid-template-areas:
      "headline"
      "subline"
      "richtext"
      "image";
    grid-auto-columns: 100%;
  }
}

.projects .projects__row.row .field-type.upload {
  .field-label {
    display: none;
  }

  .upload__wrap,
  .field-type__wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .upload__buttons > button {
    width: 100%;
  }
}

/* resize add button to full width */
.projects > .array-field__add-row {
  width: 100%;
  height: 4rem;
  display: block;
  border: 1px solid var(--theme-elevation-200);
}

.projects > .array-field__add-row:hover {
  border-color: var(--theme-elevation-300);
}

/* set grid gutter between rows and button to same */
.projects.array-field,
.projects.array-field .array-field__draggable-rows {
  gap: 2rem;
}

/* disable pointer events on array field row header
  .collapsible__toggle-wrap > .collapsible__toggle {
    pointer-events: none;
  }
*/

/* disable background transition on array field row headers */
.projects .collapsible--hovered > .collapsible__toggle-wrap > .collapsible__toggle {
  background: rgba(0, 0, 0, 0);
}

/* hide array list header and collapse controls */
.projects .array-field__header,
.projects .collapsible__toggle-wrap .collapsible__indicator {
  display: none;
}
