.rich-text-lexical {
  --lexical-spacing-x: 1rem;

  background-color: var(--theme-elevation-0);

  .rich-text-lexical__wrap,
  .editor-container,
  .editor-scroller {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .editor {
    border: 1px solid var(--theme-elevation-150);

    & > div > *:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .editor-placeholder {
      font-family: var(--font-mono), monospace;
      left: var(--lexical-spacing-x);
    }

    .editor {
      min-height: 100%;

      .editor-placeholder {
        display: none;
      }
    }
  }

  [data-lexical-editor="true"] {
    flex-grow: 1;
    /* min-height: 300px; */
    padding-left: var(--lexical-spacing-x);
    padding-right: var(--lexical-spacing-x);

    &::before {
      display: none;
    }

    [data-lexical-decorator="true"] {
      width: 100%;

      .collapsible__toggle-wrap .btn {
        @apply min-h-px;
      }

      .insert-paragraph-at-end {
        display: none;
      }
    }
  }

  .insert-paragraph-at-end {
    padding: 0;
    height: 2rem;
    margin-top: -2rem;

    & > * {
      border: 1px solid transparent;
      font-size: 1.8rem;
      line-height: calc(2rem - 2px);
      font-family: var(--font-mono), monospace;
    }

    &:hover > * {
      border-color: var(--theme-elevation-150);
    }
  }

  .draggable-block-target-line {
    left: 1.5rem;
    margin-left: -3px;
    height: 2px;
  }

  .add-block-menu {
    display: none;
  }
}
