# Vercel Blob Storage Token
BLOB_READ_WRITE_TOKEN=YOUR_TOKEN_HERE

# Postgres connection string
DATABASE_URL=YOUR_DATABASEURL_HERE

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to preview drafts
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key

# when provided Sendgrid is used to send mails
SENDGRID_API_KEY=
