# Vercel Blob Storage Token
BLOB_UPLOAD_PREFIX=
BLOB_READ_WRITE_TOKEN=YOUR_TOKEN_HERE

# Postgres connection string
DATABASE_URL=YOUR_DATABASEURL_HERE

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to preview drafts
PREVIEW_SECRET=YOUR_SECRET_HERE

# Used to trigger cron tasks
CRON_SECRET=YOUR_SECRET_HERE

# Umami host which will be used for rewrites
UMAMI_HOST_URL=
UMAMI_WEBSITE_ID=
