@font-face {
  font-family: 'PP Supply Mono';
  src: url('./files/pp-supply-mono-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Supply Mono';
  src: url('./files/pp-supply-mono-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Supply Mono';
  src: url('./files/pp-supply-mono-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Supply Mono';
  src: url('./files/pp-supply-mono-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-pp-supply-mono: 'PP Supply Mono';
}
