.ExperienceRowLabel {
  &_Container {
    display: flex;
    width: 100%;
  }

  &_DateLabel {
    font-weight: 600;
    margin-left: 1em;
    opacity: 0.5;
  }

  &_Title {
    font-weight: 600;
  }
}
