@reference "../../styles/payload.css";

.job-history {

  &__row {
    container-type: inline-size;

    .row__fields {
      display:           grid;
      grid-template-areas:
        'title'
        'employer'
        'startDate'
        'endDate';
      grid-auto-columns: 100%;
    }

    @container (width > theme(breakpoint.md)) {
      .row__fields {
        grid-template-areas:
          'title title'
          'employer employer'
          'startDate endDate';
        grid-auto-columns: 1fr 1fr;
      }
    }

    @container (width > theme(breakpoint.xl)) {
      .row__fields {
        grid-template-areas:
          'title startDate'
          'employer endDate';
        grid-auto-columns: 3fr 1fr;
      }
    }
  }

  &__title { grid-area: title; }

  &__employer { grid-area: employer; }

  &__startDate { grid-area: startDate; }

  &__endDate { grid-area: endDate; }


  & > .array-field__add-row {
    width:   100%;
    height:  4rem;
    display: block;
    border:  1px solid var(--theme-elevation-200);
  }

  & > .array-field__add-row:hover {
    border-color: var(--theme-elevation-300);
  }
}
