.TagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  border: 1px solid var(--theme-elevation-150);
  border-radius: var(--style-radius-s);
  background: var(--theme-input-bg);
  color: var(--theme-elevation-800);
  font-size: 1rem;
  min-height: 50px;
  line-height: 20px;
  font-family: var(--font-mono), 'ui-monospace', 'monospace';
  padding: 4px 8px;
  cursor: text;

  &:focus-within {
    border-color: var(--theme-elevation-400);
  }

  &_Input {
    border: 0;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.2rem;
    min-width: 0;
    height: 100%;
    transition: none;
    font-family: var(--font-mono), 'ui-monospace', 'monospace';
    width: 0;
    background: transparent;

    &:focus {
      outline: none;
    }
  }
}
