@layer fonts, theme, base, components, utilities;

@import './fonts/_inter.css' layer(fonts);
@import './fonts/_jetbrains-mono.css' layer(fonts);
@import './fonts/_pp-supply-mono.css' layer(fonts);

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import './theme/_animations.css' layer(theme);
@import './theme/_aspects.css' layer(theme);
@import './theme/_colors.css' layer(theme);
@import './theme/_fonts.css' layer(theme);
@import './theme/_radii.css' layer(theme);
@import './theme/_sizes.css' layer(theme);
@import './theme/_text-shadows.css' layer(theme);

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .container-fluid {
    @apply w-full max-w-9xl mx-auto ;
  }

  .horizontal-writing-tb {
    writing-mode: horizontal-tb;
  }

  .vertical-writing-lr {
    writing-mode: vertical-lr;
  }

  .vertical-writing-rl {
    writing-mode: vertical-rl;
  }

  .orientation-mixed {
    text-orientation: mixed;
  }

  .orientation-upright {
    text-orientation: upright;
  }

  .orientation-sideways {
    text-orientation: sideways;
  }
}

@layer components {
  .prose {
    --tw-prose-body: var(--color-foreground);
    --tw-prose-invert-body: var(--color-background);
    --tw-prose-bullets: var(--color-primary);
    --tw-prose-headings: var(--color-primary);
    --tw-prose-hr: var(--color-primary);
    --tw-prose-links: var(--color-inherit);

    p {
      @apply text-foreground leading-normal my-4;
    }

    h2 {
      @apply text-4xl font-mono font-bold leading-normal mb-1;
    }

    h3 {
      @apply text-3xl font-mono font-semibold leading-snug mb-0;
    }

    h4 {
      @apply text-3xl font-sans font-bold leading-snug mb-0;
    }

    h5 {
      @apply text-2xl font-sans font-semibold leading-snug mb-0;
    }

    h6 {
      @apply text-xl font-sans font-medium leading-snug mb-0;
    }

    a {
      @apply text-inherit font-semibold hover:underline;
    }

    ul {
      @apply list-disc pl-6;
    }

    li {
      @apply leading-snug my-3 first:mt-0 last:mb-0 marker:text-primary;
    }
  }
}

@layer base {
  html,
  body {
    @apply h-full min-h-full font-inter antialiased scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply ring-offset-background focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }


  #layout {
    @apply h-full max-h-full flex flex-col flex-nowrap;

    & > header {
      @apply justify-self-start flex-grow-0 flex-shrink-0 z-10;

      & > div {
        @apply h-12 md:h-16 lg:h-20;
      }

      & + * {
        @apply pt-12 md:pt-16 lg:pt-20 -mt-12 md:-mt-16 lg:-mt-20;
      }
    }

    & > footer {
      @apply justify-self-end flex-grow-0 flex-shrink-0 z-10;
    }

    & > :not(header):not(footer) {
      @apply z-0;
    }

    & > :nth-last-child(2) {
      @apply flex-grow;
    }
  }
}
