/* pp-frama-100-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(/fonts/pp-frama/pp-frama-100-normal.woff2) format('woff2');
}

/* pp-frama-100-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url(/fonts/pp-frama/pp-frama-100-italic.woff2) format('woff2');
}

/* pp-frama-200-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(/fonts/pp-frama/pp-frama-200-normal.woff2) format('woff2');
}

/* pp-frama-200-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(/fonts/pp-frama/pp-frama-200-italic.woff2) format('woff2');
}

/* pp-frama-300-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(/fonts/pp-frama/pp-frama-300-normal.woff2) format('woff2');
}

/* pp-frama-300-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(/fonts/pp-frama/pp-frama-300-italic.woff2) format('woff2');
}

/* pp-frama-400-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/pp-frama/pp-frama-400-normal.woff2) format('woff2');
}

/* pp-frama-400-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/pp-frama/pp-frama-400-italic.woff2) format('woff2');
}

/* pp-frama-500-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/pp-frama/pp-frama-500-normal.woff2) format('woff2');
}

/* pp-frama-500-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/pp-frama/pp-frama-500-italic.woff2) format('woff2');
}

/* pp-frama-600-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/pp-frama/pp-frama-500-normal.woff2) format('woff2');
}

/* pp-frama-600-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/pp-frama/pp-frama-500-italic.woff2) format('woff2');
}

/* pp-frama-700-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/pp-frama/pp-frama-700-normal.woff2) format('woff2');
}

/* pp-frama-700-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/pp-frama/pp-frama-700-italic.woff2) format('woff2');
}

/* pp-frama-800-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/pp-frama/pp-frama-800-normal.woff2) format('woff2');
}

/* pp-frama-800-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/pp-frama/pp-frama-800-italic.woff2) format('woff2');
}

/* pp-frama-900-normal */
@font-face {
  font-family: 'PP Frama';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(/fonts/pp-frama/pp-frama-900-normal.woff2) format('woff2');
}

/* pp-frama-900-italic */
@font-face {
  font-family: 'PP Frama';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url(/fonts/pp-frama/pp-frama-900-italic.woff2) format('woff2');
}
