//@tailwind base;


html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  @apply bg-background text-foreground;
}

a {
  @apply underline ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
}

.radio-input {
  .radio-input__styled-radio::before {
    box-sizing: content-box;
  }
}


div.field-type.text > [for='field-meta__title'],
div.field-type.textarea > [for='field-meta__description'] {
  display: none;
}

div.field-type.rich-text-lexical {
  background-color: rgb(255 255 255 / 1%);

  .editor {
    min-height: 300px;

    .editor {
      min-height: unset
    }
  }
}

.tabs-field__tabs .tabs-field__tab-button {
  @apply font-pp-supply-mono text-lg tracking-wider;
}

.doc-header .doc-header__title {
  @apply font-pp-supply-mono text-4xl;
}

.btn {
  @apply inline-flex justify-center items-center min-h-10 no-underline m-0;

  &.btn--style-primary {
    @apply bg-primary text-white;

    &:not(.btn--disabled):hover {
      @apply bg-primary-500;
    }

    &.btn--disabled {
      @apply bg-primary saturate-50 contrast-50;
    }
  }

  &.btn--style-secondary {
    @apply bg-transparent text-white;

    &:not(.btn--disabled):hover {
      @apply bg-transparent;
    }

    &.btn--disabled {
      @apply bg-gray-500 saturate-50 contrast-50 text-white;
    }
  }

  .login .form-submit & {
    @apply mt-6;
  }

  .btn__content {
    @apply pt-px font-black font-mono uppercase;
  }
}

.tabs-field__tab-button.tabs-field__tab-button--active {

  &::after {
    @apply bg-primary-500;
  }
}

.list-header,
.file-field__dropzoneButtons {
  @apply items-center;
}

.login__form__inputWrap + a {
  @apply font-mono text-sm opacity-60;
}

.login__form__inputWrap > .field-type input {
  @apply font-mono text-base;
}

label.field-label:not(.unstyled) {
  @apply font-mono text-base;
}


