@reference "../../styles/payload.css";

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.DropArea {
  @apply cursor-pointer;
}

.LogoFieldContainer {
  @apply flex flex-col justify-center items-center;
  @apply overflow-hidden aspect-3-2;
}

.DropAreaLabel {
  @apply flex flex-row flex-nowrap;
  @apply font-mono uppercase items-center;
}


.DropAreaIcon,
.LogoFieldImage {
  @apply absolute left-0 top-0 right-0 bottom-0;
  @apply flex flex-col justify-center items-center;

  & svg {
    @apply w-[90%] max-w-[90%] h-[90%] max-h-[90%];
  }

  & path {
    fill: currentColor;
  }
}

.DropAreaIcon svg {
  @apply opacity-[0.05];
}

.DropAreaSpinner svg {
  @apply w-[50%] max-w-[50%] h-[50%] max-h-[50%];
  transform-origin: center center;
  animation: rotateIcon 1s linear infinite;
}
