@font-face {
  font-family: 'PP Frama Text';
  src: url('./files/pp-frama-text-300-normal.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Frama Text';
  src: url('./files/pp-frama-text-300-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PP Frama Text';
  src: url('./files/pp-frama-text-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Frama Text';
  src: url('./files/pp-frama-text-400-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PP Frama Text';
  src: url('./files/pp-frama-text-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PP Frama Text';
  src: url('./files/pp-frama-text-700-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

:root {
  --font-pp-frama-text: 'PP Frama Text';
}
