.Root {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: var(--font-mono), ui-monospace, monospace;
  white-space: nowrap;
  text-overflow: ellipsis;
  gap: 16px;
}

.Icon {
  width: 1em;
  height: 1em;
  font-size: 1.25rem;
}

.Name {
  font-weight: 600;
}

.URL {
  text-decoration: none;
  letter-spacing: -0.075em;
  opacity: 0.75;
}
