@reference "../../../styles/payload.css";

@layer components {
  .template-default {
    @apply [--nav-spacing:0px] md:[--nav-spacing:0.5rem];
    @apply [--nav-rail-width:0px] md:[--nav-rail-width:1rem];
    @apply [--nav-width-closed:100vw] md:[--nav-width-closed:50px];
    @apply [--nav-width-open:100vw] md:[--nav-width-open:275px];
    @apply [--content-width:100vw] md:[--content-width:auto];

    --nav-column-width: calc(var(--nav-width-closed) + var(--nav-rail-width) + var(--nav-spacing));
    grid-template-columns: var(--nav-column-width) var(--content-width);
    @apply -translate-x-(--nav-column-width) md:translate-x-0;
    @apply transition-all duration-100 ease-in-out;
  }

  .template-default--nav-open {
    --nav-column-width: calc(var(--nav-width-open) + var(--nav-rail-width) + var(--nav-spacing));
    @apply translate-x-0;
    grid-template-columns: calc(var(--nav-width-open) + var(--nav-rail-width) + var(--nav-spacing)) var(--content-width);
  }
}
