@theme {
  /* ---------- radii ---------- */
  --radius: 0.375rem;
  --radius-xs: calc(var(--radius) * 0.25);
  --radius-sm: calc(var(--radius) * 0.5);
  --radius-md: calc(var(--radius) * 1.5);
  --radius-lg: calc(var(--radius) * 1.75);
  --radius-xl: calc(var(--radius) * 2.25);
  --radius-none: 0;
  --radius-full: 9999px;
}
